# If you come from bash you might have to change your $PATH.
# export PATH=$HOME/bin:/usr/local/bin:$PATH

# Path to your oh-my-zsh installation.
  export ZSH={{- .chezmoi.homeDir -}}/.oh-my-zsh

# Set name of the theme to load. Optionally, if you set this to "random"
# it'll load a random theme each time that oh-my-zsh is loaded.
# See https://github.com/robbyrussell/oh-my-zsh/wiki/Themes
#ZSH_THEME="bullet-train"
POWERLEVEL9K_MODE='awesome-patched'
ZSH_THEME="powerlevel10k/powerlevel10k"

# Which plugins would you like to load? (plugins can be found in ~/.oh-my-zsh/plugins/*)
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=(fzf-tab git git-extras zsh-autosuggestions common-aliases sudo cp )

source $ZSH/oh-my-zsh.sh

# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.
# For a full list of active aliases, run `alias`.
#
# Example aliases
# alias zshconfig="mate ~/.zshrc"
# alias ohmyzsh="mate ~/.oh-my-zsh"

################
# THEME CONFIG #
################

POWERLEVEL9K_LEFT_PROMPT_ELEMENTS=(
  context
  root_indicator
  dir
  dir_writable
  vcs
)
POWERLEVEL9K_RIGHT_PROMPT_ELEMENTS=(
  status
  background_jobs
  load
  command_execution_time
)
POWERLEVEL9K_SHORTEN_DIR_LENGTH=1
POWERLEVEL9K_SHORTEN_DELIMITER=""
POWERLEVEL9K_SHORTEN_STRATEGY="truncate_from_right"

###########
# ALIASES #
###########

# --Git
alias gs="git stash push"
alias gsp="git stash pop"
alias gai="git add -i"
alias gfd="git log --stat --grep"
alias gfdp="git log --stat -p --grep"
# --Grep
alias egrep="egrep --color"
# --Clipboard
alias clip="xclip -selection clipboard"
# --Pretty print json
alias prettyjson="python -m json.tool"
# ls -> eza
alias ls='eza -lhg'
alias l='eza -laahg'

alias dce='docker compose exec'
alias dcl='docker compose logs'

alias gtsu='gitstandup'

##############
# FZF CONFIG #
##############

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
export FZF_DEFAULT_COMMAND='rg --files --hidden --follow --glob "!.git/*"'
setopt hist_ignore_dups

source {{.chezmoi.homeDir}}/.config/zsh/functions/fzf.zsh

###############
# MISC CONFIG #
###############

source {{ .chezmoi.homeDir }}/.config/zsh/functions/general.zsh

path+=('{{- .chezmoi.homeDir -}}/Scripts')
path+=('{{- .chezmoi.homeDir -}}/Documents/Scripts')
path+=('/usr/local/go/bin')
path+=('{{- .chezmoi.homeDir -}}/bin')
unsetopt share_history # Don't share history between terminals
export ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE="fg=3"
TERM=xterm-256color
export EDITOR=/usr/bin/vim

test -e "${HOME}/.iterm2_shell_integration.zsh" && source "${HOME}/.iterm2_shell_integration.zsh" || true

# make the android tools work ok
export ANDROID_HOME=$HOME/Library/Android/sdk
export PATH=$PATH:$ANDROID_HOME/emulator
export PATH=$PATH:$ANDROID_HOME/tools
export PATH=$PATH:$ANDROID_HOME/tools/bin
export PATH=$PATH:$ANDROID_HOME/platform-tools

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

# fnm
{{ if eq .chezmoi.os "darwin" }}
export PATH="{{- .chezmoi.homeDir -}}/Library/Application Support/fnm:$PATH"
{{ else }}
export PATH="{{- .chezmoi.homeDir -}}/.local/share/fnm:$PATH"
{{ end }}
eval "$(fnm env --use-on-cd)"

# Source any secrets we need. Note that this file WONT be committed so you'll have to manually add as needed
# If you need to sync them, look into the bitwarden integration
source "{{- .chezmoi.homeDir -}}/.secrets.zsh"
source "{{- .chezmoi.homeDir -}}/.work_scripts.zsh"

eval "$(atuin init zsh)"
eval "$(zoxide init --cmd cd zsh)"
